<h1>JWT SSO Test App</h1>

<h1>You've been logged out</h2>

<% if (message) { %>
<div>
  <h3>Message:</h3>
  <code><%= message %></code>
</div>
<% } %>

<hr/>
<div>
  <a href="<%= continue_url %>">Continue</a>
</div>

